.small-dot {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media (min-width: 1024px) {
    .btn-footer {
        align-items: center;
    }

    .f-midd-col {
        margin-left: 50px;
    }
}
