.small-dot {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-lower {
    background-color: #252b42;
}

@media (min-width: 1024px) {
    .btn-footer {
        align-items: center;
    }

    .f-midd-col {
        margin-left: 50px;
    }

    .footer-lower {
        background-color: #fff;
    }
}
